<!DOCTYPE html>

<html>
    <head>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel="icon" href="/img/icon.png">
        <title>404 - Error Page</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <p>{{errorMsg}}</p>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
