<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/icon.png">
        <title>Help page - Node Js</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This help page is to get information about {{appName}}</p>  
        </div>
        {{>footer}}
    </body>    
</html> 