<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/icon.png">
        <title>Homepage - Node Js</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input placeholder="Location">
                <button type="submit">Submit</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>    
    
</html> 